.Resaltar{
    font-weight: bold;
}

.flecha{
    position: fixed;
      top: 10px;
      left: 10px;
      width: 40px; /* Tamaño de la imagen */
      height: auto;
      cursor: pointer;
      transition: transform 0.3s;
}

.flecha:hover{
    transform: scale(1.1); /* Efecto al pasar el mouse */
}

a:hover{
    color: red;
    text-decoration: underline;
}
a:visited{
    color: violet;
    text-decoration: none;
}

a
{
    color: black;
    text-decoration: none;
    padding: 10px 20px;

}
.spani{
    color: red;
}

body{
    background-color: #121212;
   color: #E0E0E0;
}

#foto-mia{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(8, 155, 218);
}
