.Resaltar{
    font-weight: bold;
}
a:hover{
    color: red;
    background-color: lightblue;
    text-decoration: underline;
}
a:visited{
    color: blue;
    background-color: lightblue;
    text-decoration: none;
}

a
{
    color: black;
    background-color: lightblue;
    text-decoration: none;
    padding: 10px 20px;

}
.spani{
    color: red;
}

body{
    background-color: gray;
    color: white;
}

#foto-mia{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(8, 155, 218);
}
